<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=devide-width,
        initial-scale=1.0">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
         <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Document</title>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper container">
              <a href="/" class="brand-logo">CRUD</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="add-item">Add Item</a></li>
              </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s6">
                      <i class="material-icons prefix">shopping cart</i>
                      <input id="item_name" type="text" class="validate" name="name">
                      <label for="icon_prefix">Item Name</label>
                    </div>
                    <div class="input-field col s6">
                      <i class="material-icons prefix">request_quote</i>
                      <input id="icon_telephone" type="tel" class="validate" name="price">
                      <label for="icon_telephone">Price</label>
                    </div>
                  </div>
                  <button class="btn">Add Item</button>
                </form>
            </div>
        </div>
    </body>
</html>